h1 {
    /* font-size: 20px; */
    /* color: #ffffff; */
    color: #38023b;
    /* color: #006e90; */
    /* text-align: center; */
}

h2 {
    /* font-size: 20px; */
    color: #006e90;
}

h3 {
    /* font-size: 20px; */
    color: #858ae3;
}

h4 {
    /* font-size: 20px; */
    color: #00bfb2;
}


h5 {
    /* font-size: 20px; */
    color: #6daedb;
}


